<script>
    import { onMount } from "svelte"
    import { setToken, setUid } from "../service/tokens"
	import '../app.css';
	import Header from '../components/Header.svelte';

    onMount(() => {
        setToken("SFMyNTY.g3QAAAACZAAEZGF0YWgCZAAEdXNlcmgCYgAAaTViAABpNWQABnNpZ25lZG4GANR5b5B-AQ.PClYS-MkczKFZkrFHdbA_KP87NZu1XWcjzrCj_nbDAw")
        setUid("26933")
    })
</script>
<svelte:body class="bg-violet-700"></svelte:body>
<Header />
<div class="container mx-auto px-5 my-10">
	<slot />
</div>
