<script>
	import { onMount } from 'svelte';
	import { Socket } from 'phoenix';
	import LeadLetter from '../components/LeadLetter.svelte'
	import LeftPaddle from '../components/LeftPaddle.svelte'
	import { getToken, getUid } from '../service/tokens';
	let socket;
	let chan;
	let login = 'no login';
	let email = 'itest@example.com';
	let name = 'Your Mum';
	onMount(() => {
		console.log('mount');
		socket = new Socket('wss://cntrea.ru/websockets/cntral_socket', {
			params: {
				token: getToken()
			},
			heartbeatIntervalMs: 3000
		});
		socket.onError((e) => {
			console.log(e);
		});
		socket.connect();
		chan = socket.channel(`main:${getUid()}`);
		chan.join().receive('error', () => {
			console.log('error');
		});

		chan.push('get_user').receive('ok', (user) => {
			({ fullname: name, email, name: login } = user);
		});
	});
</script>

<article
	class=" mx-auto prose prose-md prose-headings:text-gray-800prose-p:px-5 prose-lead:text-black prose-a:text-violet-600 prose-a:bg-violet-200"
>
	<LeadLetter text={"Добро пожаловать"} color_class="text-violet-700" />
	<p>
		<em>Для того, чтобы перейти к заданиям, пройдите на вкладку «Мои курсы»</em>
	</p>
	<h2>Ваши данные</h2>
	<LeftPaddle>
		<table>
			<tr>
				<td class="lead">Логин</td>
				<td>{login}</td>
			</tr>
			<tr>
				<td class="lead">Почта</td>
				<td>{email}</td>
			</tr><tr>
				<td class="lead">Имя</td>
				<td>{name}</td>
			</tr>
		</table>
	</LeftPaddle>
	<br />
	<h3>Подписка на новости</h3>
	<p>
		<span style="color:red;font-weight:bold">Настоятельно рекомендуем</span> подписаться на новости о
		новых курсах и уроках.
	</p>
	<p><em>Не забудьте разрешить браузеру получать уведомления!</em></p>
	<a href="#">Подписаться на новости</a>
	<br />
	<h3>Быстрые ссылки</h3>
	<div class="fastlink_apparatus">
		<div class="fastlink_item">
			<a href="#" onclick="wtfFastlink(); return false">Что такое «быстрая ссылка»?</a>
		</div>
		<div class="fastlink_item">
			<a href="#" onclick="getFastlink(); return false">Получить быструю ссылку</a>
		</div>
		<div class="fastlink_item">
			<a href="#" onclick="invalidateOldFastlinks(); return false"
				>Сделать старые ссылки недействительными</a
			>
		</div>
	</div>
</article>

