<script>
    import { goto } from '$app/navigation';
    import { Icon, Logout } from "svelte-hero-icons";
	let entries = [
        { name: 'Профиль', route: '/' },    
        { name: 'Мои Курсы', route: 'courses' },    
        { name: 'Ещё говно', route: 'trash' },    
    ];
    let separator = "⇒"
</script>

<div class="h-20 w-full sticky text-violet-700 flex items-center justify-between bg-violet-200">
    <div class="breadcumb flex items-center align-center justify-evenly">
        {#each entries as entry, i}
            <span class="m-5 text-3xl cursor-pointer" on:click="{() => {goto(entry.route)}}">{entry.name}</span>
            {#if i < entries.length - 1}
                <span class="text-3xl">{separator}</span>
            {/if}
        {/each}
    </div>
    <div>
        <h1 class="cursor-pointer m-10 text-2xl text-violet-700 flex items-center">Выйти <Icon src="{Logout}" size="40" class="m-5"/></h1>
    </div>
</div>