<script>
    export let text = "test 1234";
    const [first, ...etc] = text;
    console.log(text, etc)
    export let color_class = "text-indigo-600"
</script>

<h1><span class={color_class}>{first}</span>{etc.reduce((p, c) => p + c)}</h1>