<script>
    let hidePassPhrase = false
</script>
<div class="mx-auto my-auto shadow-xl 2xl:w-1/4 max-w-2xl xl:w-1/3 md:w-1/2  w-full rounded-lg m-5 p-10 bg-white">
	<h2 class="text-6xl text-violet-800 text-center">Войдите</h2>
	<br />
	<p class="text-center text-violet-500">Введите адрес электронной почты и секретную фразу.</p>

	<form class="mt-8 space-y-10">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Электронная почта</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Электронная почта">
          </div>
          <div>
            <label for="secret-phrase" class="sr-only">Сексретная фраза</label>
            <input id="secret-phrase" name="secret-phrase" type="{hidePassPhrase ? "password" : "text"}" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Секретная фраза">
          </div>
        </div>
  
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="toggle-passphrase" bind:checked={hidePassPhrase} type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
            <label for="toggle-passphrase" class="ml-2 block text-sm text-gray-900">
                Скрыть секретную фразу
            </label>
          </div>
  
          <div class="text-sm">
            <a href="#" class="font-medium text-violet-600 hover:text-violet-500">
                Я не помню секретную фразу
            </a>
          </div>
        </div>
  
        <div>
          <button class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg class="h-5 w-5 text-violet-500 group-hover:text-violet-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            Войти
          </button>
        </div>
      </form>
</div>
